#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left
}

.big-logo {
  width: 75%;
  max-width: 300px;
}

.carrot {
  position: absolute;
  width: 10%
}

.content-container {
  padding: 0% 5%;
  margin: 0% 5%
}

.default_button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer
}

.flex-horizontal {
  display: flex;
  align-items: center;  /* Aligns items vertically */
  justify-content: center;  /* Aligns items horizontally */
  gap: 1em;
}

/* Full-screen container */
.game-container {
  position: relative;
  width: 80vw;
  height: 80vh;
  background-color: #0b7439; /* Green background */
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.option {
  width: auto;
  padding: 8px 16px;
}

/* Carrot placeholder */
.carrot-square {
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #f0dfbc; /* Bai luo bo color */
  border-radius: 8px; /* Square with slightly rounded corners */
  cursor: pointer;
}

.page-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.record-button {
  margin: 1em;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.responsive-video {
  width: 100%
}

.stop {
  background-color: red;
  color: white;
}

.record-button:hover {
  background-color: darkred;
}

/* Score display */
.score-display {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 8px;
}

.text-container {
  padding: 2.5%;
  text-align: left;
  text-indent: 1em;
}

.vertical_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.video-playback {
  width: 100%;
  max-width: 500px
}

.video-recorder {
  text-align: center;
  padding: 5%;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
